<div class="component-body">
  BTC/PLN <span class="yellow">{{ data.average | number : '1.2-2' }}</span>
</div>
<div class="component-body-green">
  BTC/USD <span class="yellow">{{ showValueInUsd() | number : '1.2-2' }}</span>
</div>