<h1>Logowanie</h1>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" placeholder="Adres e-mail" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="email">Hasło</label>
    <input type="password" class="form-control" id="password" placeholder="Hasło" [(ngModel)]="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="tryLogin()">Zaloguj</button>