/* You can add global styles to this file, and also import other style files */
.component-body {
    background-color: #ff0000;
}
.component-body-green {
    background-color: #4caf50;
}

.yellow {
    color: yellow;
}
